<h2><%= @surgery.title %> surgery is on <%= @surgery.day_of_week %> and is in operating room <%= @surgery.operating_room_number %></h2>

<h3> Doctors in surgery </h3>
<% @all_doctors.each do |doctor| %>
<li> Dr. <%= doctor.name %>, <%= doctor.years_practiced %> years of experience</li>
<% end %>

<h3> Most experienced doctors </h3>
<section id="most_experienced-">
<% @experienced_docs.each do |doctor| %>
<li> Dr. <%= doctor.name %>, <%= doctor.years_practiced %> years of experience</li>
<% end %>
</section>

<h3> Least experienced doctors </h3>
<section id="least_experienced-">
<% @inexperienced_docs.each do |doctor| %>
<li> Dr. <%= doctor.name %>, <%= doctor.years_practiced %> years of experience</li>
<% end %>
</section>

<h3> Add doctor to surgery </h3>
<%= form_with url: doctor_surgeries_path, method: :post, local: true do |form| %>
  <%= form.label(:name, 'Doctor name:') %>
  <%= form.text_field :name , required: true%><br>
  <%= form.hidden_field(:surgery_id, value: @surgery.id)%><br>
  <%= form.submit('Submit') %>
<% end %>
